.top{
    height: 550px;
    background-image: url(images/top_bg.png);
    background-size: 1918px,611px;
}
.text{
    width: 40%;
    height: 40%;
    float: left;
}
.imgtop{
    height: 300px;
    width: 511px;
    margin-top:100px ;
    margin-left: 250px;
}
.subtext{
    height: 300px;
    width: 530px;
    margin-top: 130px;
    margin-left:350px;
    color: aliceblue;
}
button{
    height: 50px;
    width: 150px;
    margin-top: 33px;
}
h1{
    font-size: 27px;
}
.hh{
    text-align: center;
    margin-top: 55px;
}
.box{
        border: 2px solid rgb(171, 165, 165);
        width: 10%;
        height: 456px;
        display: inline-table;
        
}
.all{
    margin-left:400px;
    margin-bottom: 50px;
}
.dif{
    width: 370px;
    height: 200px;
}
p{
    color: rgb(78, 78, 81);
    font-size: 15px;
}
.hh2{
    text-align: center;
}
.ltext{
    display: inline-block;
}
.layer{
    border: 2px solid black;
    width: 50%;
}
.limg{
    width: 370px;
    height: 200px;
}
.textl{
    width: 460px;
}