.top{
    height: 550px;
    background-image: url(images/top_bg.png);
    background-size: 1918px,611px;
}
.text{
    width: 40%;
    height: 40%;
    float: left;
}
.imgtop{
    height: 300px;
    width: 511px;
    margin-top:100px ;
    margin-left: 250px;
}
.subtext{
    height: 300px;
    width: 530px;
    margin-top: 130px;
    margin-left:350px;
    color: aliceblue;
}
button{
    height: 50px;
    width: 150px;
    margin-top: 33px;
}
h1{
    font-size: 27px;
}
.hh{
    text-align: center;
    margin-top: 55px;
}
.box{
        border: 2px solid rgb(171, 165, 165);
        width: 10%;
        height: 456px;
        display: inline-table;
        
}
.all{
    margin-left:400px;
    margin-bottom: 50px;
}
.dif{
    width: 370px;
    height: 200px;
}
p{
    color: rgb(78, 78, 81);
    font-size: 15px;
}
.hh2{
    text-align: center;
}
section{
    background-color: rgb(227, 237, 240);
    overflow: hidden;
    height: 6000px;
    padding-top: 50px;
#lbox{
    height: 200px;
    width: 900px;
    background-color: white;
    margin-top: 15px;
    margin-left: 300px;
    padding: 10px;
}
.img{
    position: absolute;
}
.textl{
    width: 500px;
    position: absolute;
    left: 700px;
}
.leftl{
    position: absolute;
}
.rightl{
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 900px;
    margin-top: 15px;
    position: absolute;
    left: 1270px;
}
.catagory{
    margin-left: 20px;
}
.plist{
    margin-left: 0px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-align: left;
    t
}
.plist::before{
    content: url(images/catimg.png);
    margin-right: 10px;
}